@using TravelTripProje.Models.Siniflar
@model List<Blog>
<div class="padding1">
    <h4>En Beğendiğim Yerler</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {
<div class="bot-img">
    <img src="@x.BlogImage" style="width:120px; height:65px;" alt="" />
</div>
                <div class="bot-desc">
                    <p>@x.Aciklama.Substring(0, 75)</p>
                </div>
                                <div class="clear"></div>}

    </div>

    @Html.Action("partial5", "Default")
</div>