
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutnew.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>İletişime Geçelim</h3>
                <p> </p>
            </div>
            <div class="form">
                <form class="cmxform" id="contactForm" method="post">
                    <div>
                        <input type="text" class="textbox" value="İsim:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Telefon:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
                    </div>
                    <div>
                        <p><span class="read">Gönder</span></p>
                    </div>
                </form>
            </div>
            <div class="form1">
                <div>
                    <textarea value="Mesaj:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Messaj:</textarea>
                </div>
            </div>
            <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Bana Ulaşın</h3>
                        <p>İletişim bilgilerimden bana ulaşabilir, telefon edebilir, mesaj gönderebilir veya e-posta atabilirsinizGeri dönüşleriniz bizim için çok değerli. İletişim bilgilerim aracılığıyla benimle iletişime geçebilirsiniz. Sorularınıza ve geri bildirimlerinize en hızlı ve etkili şekilde yanıt verebilmek için buradayım..</p>
                        <p>Telefon:0530 182 4195</p>
                        <p>Email:<a href="~/web2/mailto:signup@gmail.com">hilalakyyz@gmail.com</a></p>
                    </div>
                    @*<div class="contact-add">
                        <h3>Address Two</h3>
                        <p>Telephone:1-22-5555</p>
                        <p>Fax:1-22-5555</p>
                        <p>Email:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                    </div>*@
                </div>
                <div class="contact-map">
                    <iframe width="580" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="~/web2/http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A" style="color: #555;text-align:left"></a></small>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>
</html>

